
 
<div class="col-lg-2">
    @Html.ActionLink("SafeZone", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="col-lg-2">
    <a href="https://www.linkedin.com/in/jai-aggarwal-52a260127/" class="navbar-brand">Founder</a>
</div>
<div class="col-lg-2">
    
@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })

</div>



