@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<address>
    1080 Bay Street<br />
    Toronto, ON 647-244-0515<br />
    <abbr title="Phone">P:</abbr>
    647-244-0515
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">jaikaggarwal@gmail.com</a><br />
   
</address>