<div class="container-fluid">
    <div class="sidenav">
        <p>To-do List</p>
        <p>Friends List</p>
        <p>Check up</p>
        <a href="@Url.Action("New", "Patient")">Account Information</a>
    </div>
</div>
