
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" name="topbar">
        <div class="navbar jai-navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SafeZone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav jai-navbar">

                        <li><a href="https://www.linkedin.com/in/jai-aggarwal-52a260127/">Founder</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            @Html.Partial("_sidebar")
        </div>
        <div class="col-lg-10" id="target">

            @{Html.RenderAction("New", "Patient");}


        </div>
    </div>
</div>

@*<div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h2>Jai's Portal</h2>

            </div>
            <div class="col-lg-4">
               <h2>Jai's Portal</h2>
            </div>
            <div class="col-lg-4">
                <h2>Jai's Portal</h2>
            </div>
        </div>
        <div>

        </div>
    </div>*@
