
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="circle top-left-circle">

</div>
<div class="circle bottom-left-circle">
</div>
<div class="circle top-right-circle">
</div>
<div class="circle bottom-right-circle">
</div>
