@model HealthForm.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="container intro-container">
        <div class="row row-top">
            <h2 class="intro"> Welcome </h2>
        </div>

        <div class="row">
            <div class="container intro-container">
                <div class="transparent">
                    <h2 class="login-text">Login </h2><br />
                    @using (Html.BeginForm("Login", "Welcome"))
    {
                <div class="form-group">
                    <div class="container wide">
                        <div class="row">
                            <div class="col-lg-1">
                                <label class="j-label">
                                    Name:
                                </label>
                            </div>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control j-textbox" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="container wide">
                        <div class="row">
                            <div class="col-lg-1">
                                <label class="j-label">
                                    Password:
                                </label>
                            </div>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control j-textbox" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" title="Log in" value="Log in" class="login-button" />
                    </div>
                </div>
}
                </div>
        </div>
        
    </div>
</div>
</body>
</html>
